.cabecera {
	text-transform: uppercase;
}
.tabla {
	border-bottom-width: 2px;
	border-top-style: none;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #0000FF;
	border-right-color: #0000FF;
	border-bottom-color: #0000FF;
	border-left-color: #0000FF;
	border-right-width: 2px;


}
td {
	padding: 15px;
}
table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
