/*** ----------------------------------------- ***/
	/*** COLORS! (for easy updating!) ------------ ***/
body {
	background: #FFFFFF;
	font-family: Verdana, Tahoma, Sans-Serif;
	font-size: 11px
}
#main-content {
	background: #FFFFFF;
	border: 1px solid #bfb9b2;
	color: #172833;
}

#main-content .left {
	background: #FFFFFF
}

#main-content .right {
	background: #FFFFFF
}

#main-content h2 {
	text-indent: 12px;
	font-weight: bold;
	background: #a1c2ff;
	text-decoration: none;
}

#main-content .right h2 {
	font-size: 11px;
}

#main-content h3 {
	color: #4B3D1B
}

#main-content a {
	color: #245dc7;
	/*color: #005896;*/
}

.portfolio-entry {
	border-top: 1px solid #DBD1B9;
}

input,select,file {
	border: 1px solid #7a725d;
	color: #333;
	padding: 3px;
	margin: 0 0 10px 0;
	font-size: 11px;
}

.hidden {
	border: 0px;
	padding: 0px;
	margin: 0 0 0 0;
}

textarea {
	border: 1px solid #7a725d;
	color: #333;
}

.button {
	background: #245dc7;
	color: #FFF;
	border: 1px solid #0E3B65;
	cursor: pointer;
}

#footer {
	text-align: center;
	color: #f1ffd4;
	background: #245dc7;
	height: 150px;
}

#footer a {
	color: #5eafff;
	text-decoration: none;
}

#footer a:hover {
	color: #7f7d77;
	text-decoration: none;
}

/*** ----------------------------------------- ***/
	/*** END COLORS ------------------------------ ***/
	/* --------------------------------------------- */
	/* Main Styles --------------------------------- */
body {
	FONT-FAMILY: Verdana, Tahoma, Sans-Serif;
	margin: 0;
	padding: 0
}

a:active,a:focus {
	outline: none
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

#content {
	width: 980px;
	margin: 0 auto
}

.clear {
	clear: both;
	display: block;
}

img {
	border: none
}

.img-left {
	float: left;
	margin: 0 10px 10px 0;
	position: relative;
	top: 5px
}

.img-right {
	float: right;
	margin: 0 0 15px 20px;
	position: relative;
	top: 5px
}

.img-center {
	display: block;
	margin: 15px auto 15px auto;
	position: relative;
	top: 0px;
}

/* --------------------------------------------- */
	/* Header/Logo --------------------------------- */
#header, .header-bg{
	width: 100%;
	height: 75px;
	background: #245dc7;
}
.header-bg {
	position: absolute;
}
#header {
	position: relative;
}

#header h1 {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;
	left: 10px
}

#header h1 a {
	text-indent: -2000px;
	display: block;
	background: url('../img/logo.png') no-repeat;
	width: 475px;
	height: 79px
}

/* --------------------------------------------- */
	/* Navigation ---------------------------------- */
#navigation {
	font-weight: bold;
	border: 1px solid #bfb9b2;
}
.nav {
	background: #a1c2ff;
	width: 980px;
	height: 30px;
}
#navigation a:hover {
	text-decoration: none
}
/* --------------------------------------------- */
	/* Main Homepage Content ----------------------- */
#main-content {
	width: 980px;
	padding: 0px;
	border-bottom: none
}

#main-content.subpage {
	border-top: none
}

#main-content .left {
	border: 1px solid #bfb9b2;
	border-top:0;
	border-right:0;
	width: 808px;
	margin: 0;
	padding: 5px;
	float: left;
}

#main-content .right {
	width: 150px;
	margin: 0;
	padding: 5px;
	float: left;
	width: 150px;
}

#main-content .publicidad {
	background: #FFFFFF; /*#f1ffd4;*/
	margin: 0;
	padding: 5px;
	float: left;
	width: 150px;
}

#main-content ul {
	margin: 0 0 0 15px;
	padding: 0 0 0 10px;
	line-height: 20px;
	font-size: 11px
}

#main-content h2 {
	font-size: 14px;
	margin: 0;
	padding: 0 0 2px 0;
}

#main-content h3 {
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 5px 0 0 0;
	font-family: Verdana, Tahoma, Sans-Serif;
}

#main-content p,#main-content p {
	padding: 0;
	margin: 15px 0;
	font-size: 11px;
	line-height: 18px
}

#main-content p.intro-text {
	margin: 15px 0 15px 0;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	text-align: justify;
}

/* --------------------------------------------- */
	/* Portfolio Page ------------------------------ */
.portfolio-entry {
	clear: both;
	padding: 1px 0 0 0;
	margin: 1px 0 0 0;
}
.portfolio-entry h3 a {
	font-size: 12px;
}

/* --------------------------------------------- */
	/* Sesion Lateral -------------------------------- */
form {
	margin: 0;
	padding: 0
}

.textbox-lateral {
	width: 130px
}

.button {
	font-weight: bold;
	padding: 3px 5px;
	font-size: 10px;
	text-transform: uppercase;
	display: block;
	clear: both;
	margin: 0px 0 10px 0;
}

/* --------------------------------------------- */
	/* Footer ----------------------- */
#footer {
	position: absolute;
	font-size: 10px;
	width: 100%;
}

#footer span {
	position: absolute;
	right: 20px;
	top: 20px
}

.tabla_ext {
	width: 100%;
}

.columna_titulos {
	width: 100px;
}

.tabla_alertas {
	width: 100%;
	table-layout: fixed; 
}

.tabla_alertas td {
	border-bottom: 1px solid #DBD1B9;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px
}

.notificacion {
	margin-left: 15px;
	margin-bottom: 5px;
}

#main-content .comodidades {
	width: 260px;
	margin: 0;
	padding: 15px;
	float: left;
}

#main-content .cercanias {
	width: 260px;
	margin: 0;
	padding: 15px;
	float: right;
}

#main-content .precio {
	color: #336A93;
	font-size: 24px;
	font-weight: bolder;
	text-align: center;
}

#main-content .msg_error {
	line-height: 3;
	font-weight: bolder;
	font-size: 11px;
	text-align: center;
	color: red;
	background-color: #ffff99;
}

#main-content .msg_exito {
	line-height: 3;
	font-weight: bolder;
	font-size: 11px;
	text-align: center;
	color: green;
	background-color: #ffff99;
}

label {
	font-weight: bold;
}

.icono {
	vertical-align: middle;
	position: relative;
	margin: 0 5px 0 0;
}

#header .logo2 {
	z-index: 99;
	float: right;
	width: 234px;
	height: 119px;
	position: absolute;
	top: -10px;
	left: 740px;
	background: url('../img/logo-right.png') no-repeat;
	text-indent: -2000px;
	display: block;
}

table {
	margin: auto;
}

.cuadro_pub {
	width: 125px;
	height: 160px;
	margin: 10px auto 10px auto;
	background: #FFFFFF;
	border: 1px solid #DBD1B9;
}

#cabecera_detalles {
	width: 100%;
}

#cabecera_detalles td {
	font-size: 14px;
}

.center {
	margin: auto;
	text-align: center;
}

#main-content .descripcion {
	font-size: 14px;
	color: #0a141c;
}

#pagination strong, #pagination a, #pagination a:HOVER{
	font-weight: normal;
	text-decoration: none;
	border: 1px solid #0E3B65;
	padding: 5px;
	color: #FFFFFF;
	background: #245dc7;
}

#pagination a{
	background: #a1c2ff;
	color: #000000;
}

.titulo_pub{
	font-size: 12px;
	font-weight: bold;
}
.txt-btn-descrip{
	vertical-align:top;
	width: 200px;
	text-align: justify;
	padding: 0 30px 20px 30px;
}

#alert-container{
    position: fixed;
    width: 100%;
    bottom: 0px;
}
#alert-container .alerta{
    z-index: 100;
    margin:auto;
    margin-right: 0px;
    position:relative;
    padding-top: 5px;
    height: 25px;
    width: /*250px*/ 100%;
    border: 1px solid #245dc7;
    background: #A1C2FF;

}

#alert-container .alerta publi-txt{
    font-size: 16px;
}
#alert-container .alerta a, #alert-container .alerta a:hover, #alert-container .alerta a:visited{
    font-size: 16px;
    color: #FF0000;
}
