/*** ----------------------------------------- ***/
	/*** COLORS! (for easy updating!) ------------ ***/
body {
	background:#94944d;/*#59592e*/
}

div {
	FONT-FAMILY: Verdana, Tahoma, Sans-Serif;
	FONT-SIZE: 11px
}

#navigation {
	border: 1px solid #bfb9b2;
}

#navigation a:hover {
	background: #E2F3BE;
	color: #67920D
}

.sf-menu ul {
	border: 2px solid #67920D
}

.sf-menu a {
	border-left: 1px solid #FFFFD2;
	border-right: 1px solid #A4CF47
}

.sf-menu ul a {
	border-bottom: 1px solid #A4CF47;
	border-top: 1px solid #FFFFD2
}

.sf-menu ul a.top {
	border-top: none
}

.sf-menu ul a.bottom {
	border-bottom: none
}

.sf-menu ul a:hover {
	background: #336A93 !important;
	color: #FFF !important;
	border-bottom-color: #1C4563;
	border-top-color: #84B1D3
}

/* visited pseudo selector so IE6 applies text colour*/
.sf-menu a,.sf-menu a:visited {
	color: #517307
}

.sf-menu li li {
	background: #E2F3BE
}

.sf-menu li li li {
	background: #E2F3BE
}

.sf-menu li:hover,.sf-menu li.sfHover,.sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active
	{
	background: #E2F3BE
}

.sf-menu ul li:hover,.sf-menu ul li.sfHover a.item,.sf-menu ul a:focus,.sf-menu ul a:hover,.sf-menu ul a:active
	{
	background: #336A93;
	color: #FFFFFF !important;
	border-bottom-color: #1C4563;
	border-top-color: #84B1D3
}

#slider-content {
	position: relative;
	z-index: 100;
	border-bottom: 1px solid #000
}

.blue-block {
	color: #FFF;
	border-top: 1px solid #000
}

.blue-block a {
	color: #C7E687
}

.blue-block a:hover {
	color: #fff
}

#main-content {
	background: #fffced /*DBD1B9*/;
	border: 1px solid #bfb9b2
}

#header .contact-info {
	color: #d3e6f3
}

#header .contact-info small em {
	color: #FFF
}

#header .contact-info a {
	color: #C7E687
}

#header .contact-info a:hover {
	color: #d3e6f3
}

.jFlowSelected {
	color: #FFF !important
}

.gallery-block {
	background: #DBD1B9;
	border: 2px solid #f3ece3
}

.gallery-block li a {
	border: 1px solid #000
}

.gallery-block li a:hover {
	border: 1px solid #FFF
}

#main-content .left {
	background: #fffced;
}

#main-content .right {
	background: #f1ffd4;
}

#main-content ul {
	color: #2e2a25;
}

#main-content .right ul {
	color: #23201B !important
}

#main-content h2 {
	color: #4B3D1B;
	border-bottom: 1px solid #4B3D1B
}

#main-content .right h2 {
	font-size: 13px;
	font-weight: bold;
}

#main-content h3 {
	color: #4B3D1B
}

#main-content p,#main-content table {
	color: #534C42
}

#main-content .right p {
	color: #23201B !important 
}

#main-content p.intro-text {
	color: #23201B
}

#main-content a {
	color: #005896 /*#2E546F*/
}

.portfolio-entry {
	border-top: 1px solid #DBD1B9
}

input,select,file {
	border: 1px solid #7a725d;
	color: #333;
	padding: 3px;
	margin: 0 0 10px 0;
	font-family: Verdana, Tahoma, Sans-Serif;
	font-size: 11px;
}

.hidden {
	border: 0px;
	padding: 0px;
	margin: 0 0 0 0;
}

textarea {
	border: 1px solid #7a725d;
	color: #333;
}

.button {
	background: #336A93;
	color: #FFF;
	border: 1px solid #0E3B65;
	cursor: pointer;
}

#footer {
	text-align: center;
	border: 1px solid #bfb9b2;
	color: #336A93;
	background: #cde3fa;
}

#footer a {
	color: #224661
}

#footer a:hover {
	color: #7f7d77
}

/*** ----------------------------------------- ***/
	/*** END COLORS ------------------------------ ***/
	/* --------------------------------------------- */
	/* Main Styles --------------------------------- */
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0
}

a:active,a:focus {
	outline: none
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

#content {
	width: 980px;
	margin: 0 auto
}

.clear {
	clear: both;
	display: block
}

img {
	border: none
}

.img-left {
	float: left;
	/*width: 160px;
	height: 120px;*/
	margin: 0 20px 15px 0;
	position: relative;
	top: 5px
}

.img-right {
	float: right;
	margin: 0 0 15px 20px;
	position: relative;
	top: 5px
}

.img-center {
	display: block;
	margin: 15px auto 15px auto;
	/*width: 160px;
	height: 120px;*/
	position: relative;
	top: 0px;
}

/* --------------------------------------------- */
	/* Header/Logo --------------------------------- */
#header {
	position: relative;
	width: 980px;
	height: 100px;
	background: #cde3fa;
	border: 1px solid #bfb9b2;
}

#header h1 {
	width: 475px;
	height: 79px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;
	left: 10px
}

#header h1 a {
	text-indent: -2000px;
	display: block;
	background: url('../img/logo.png') no-repeat;
	width: 475px;
	height: 79px
}

#header .contact-info {
	text-align: right;
	font-size: 20px;
	width: 650px;
	height: 50px;
	position: absolute;
	right: 30px;
	bottom: 20px
}

#header .contact-info em {
	font-family: Verdana, Tahoma, Sans-Serif;
	font-style: normal
}

#header .contact-info small {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 14px
}

#header .contact-info a {
	text-decoration: underline
}

#header .contact-info a:hover {
	text-decoration: none
}

/* --------------------------------------------- */
	/* Navigation ---------------------------------- */
#navigation {
	font-family: Verdana, Tahoma, Sans-Serif;
	position: relative;
	z-index: 30;
	font-size: 16px;
	/*este 16 solo permite que los submenu aparezcan un poco mas bajo*/
	font-weight: normal;
	width: 980px;
	height: 46px;
	background: url('../img/nav_bg.gif') no-repeat
}

#navigation a.first {
	border-left: none
}

#navigation a.last {
	border-right: none
}

#navigation a:hover {
	text-decoration: none
}

/* SUPERFISH STYLESHEET ---------------------------------- */
	/*** DO NOT DELETE OR EDIT THE FOLLOWING (Unless you know what you're doing of course!) ***/
.sf-menu,.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none
}

.sf-menu {
	line-height: 1.0
}

.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 12em
}

.sf-menu ul li {
	width: 100%
}

/* fixes IE7 'sticky bug' */
.sf-menu li:hover {
	visibility: inherit
}

.sf-menu li {
	float: left;
	position: relative
}

.sf-menu a {
	display: block;
	position: relative
}

.sf-menu li:hover ul,.sf-menu li.sfHover ul {
	left: 0;
	top: 2.4em; /* match top ul list item height */
	z-index: 99
}

ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {
	top: -999em
}

ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {
	left: 12em;
	top: -0.1em
}

ul.sf-menu li li:hover li ul,ul.sf-menu li li.sfHover li ul {
	top: -999em
}

ul.sf-menu li li li:hover ul,ul.sf-menu li li li.sfHover ul {
	left: 12em;
	top: -0.1em
}

/*** ---------------------------------------------------------------------------------- ***/
	/* Dropdown Styling */
.sf-menu {
	margin: 0
}

.sf-menu a {
	text-transform: capitalize;
	font-size: 16px;
	padding: 11px 20px 11px 20px;
	text-decoration: none
}

.sf-menu ul a {
	background: none;
	cursor: pointer;
	text-transform: capitalize;
	border-left: none;
	border-right: none;
	font-size: 11px;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	font-weight: bold;
}

.sf-menu li:hover,.sf-menu li.sfHover,.sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active
	{
	outline: 0
}

.sf-menu a.sf-with-ul {
	padding-right: 2.25em;
	min-width: 1px;
	/* trigger IE7 hasLayout so spans position accurately */
}

.sf-sub-indicator {
	position: absolute;
	display: block;
	right: .75em;
	top: 1.05em; /* IE6 only */
	width: 10px;
	height: 10px;
	text-indent: -999em;
	overflow: hidden;
	background: url('../img/arrows.gif') no-repeat -10px -100px;
	/* 8-bit indexed alpha png. IE6 gets solid image only */
}

a>.sf-sub-indicator { /* give all except IE6 the correct values */
	top: .8em;
	background-position: 0 -100px;
	/* use translucent arrow for modern browsers*/
}

a:focus>.sf-sub-indicator,a:hover>.sf-sub-indicator,a:active>.sf-sub-indicator,li:hover>a>.sf-sub-indicator,li.sfHover>a>.sf-sub-indicator
	{
	background-position: -10px -100px;
}

.sf-menu ul .sf-sub-indicator {
	background-position: -10px 0
}

.sf-menu ul a>.sf-sub-indicator {
	background-position: 0 0
}

.sf-menu ul a:focus>.sf-sub-indicator,.sf-menu ul a:hover>.sf-sub-indicator,.sf-menu ul a:active>.sf-sub-indicator,.sf-menu ul li:hover>a>.sf-sub-indicator,.sf-menu ul li.sfHover>a>.sf-sub-indicator
	{
	background-position: -10px 0
}

/* --------------------------------------------- */
	/* Slider Area (JFLOW) ------------------------- */
#slider-content {
	width: 980px;
	height: 377px;
	position: relative;
	z-index: 100;
	border-bottom: 1px solid #000
}

#myController {
	display: none
}

#mySlides img {
	display: block;
	margin: 0
}

.blue-block {
	display: block !important;
	text-align: center;
	padding: 15px 0 0 0;
	font-size: 25px;
	font-family: Verdana, Tahoma, Sans-Serif;
	display: block;
	width: 980px;
	height: 48px;
	background: url('../img/blue_bar_bg.gif') repeat-x
}

.blue-block a {
	text-decoration: underline
}

.blue-block a:hover {
	text-decoration: none
}

.blue-block.small {
	font-size: 18px !important;
	padding-top: 18px !important;
	height: 45px !important
}

.jFlowPrev,.jFlowNext {
	cursor: pointer;
	display: block;
	width: 73px;
	height: 63px;
	text-indent: -5000px;
	position: absolute
}

.jFlowPrev {
	bottom: 0;
	left: 0;
	background: url('../img/button_left.gif') no-repeat
}

.jFlowNext {
	bottom: 0;
	right: 0;
	background: url('../img/button_right.gif') no-repeat
}

.jFlowControl {
	cursor: pointer
}

.jFlowSelected {
	text-decoration: none !important
}

.gallery .jFlowPrev {
	top: 0 !important;
	left: 0
}

.gallery .jFlowNext {
	top: 0 !important;
	right: 0
}

.gallery {
	border-bottom: none;
	height: 561px !important
}

.gallery-block {
	width: 948px;
	height: 468px;
	padding: 14px;
	border-bottom: none
}

.gallery-block ul {
	list-style: none;
	margin: 0 0 12px 0;
	padding: 0;
	width: 948px;
	height: 146px;
	display: block
}

.gallery-block ul.bottom {
	margin: 0
}

.gallery-block li {
	display: block;
	margin: 0 12px 0 0;
	padding: 0;
	width: 148px;
	height: 146px;
	float: left
}

.gallery-block li.last {
	margin: 0
}

.gallery-block li a {
	display: block;
	width: 146px;
	height: 144px
}

.gallery-block li img {
	display: block;
	width: 146px;
	height: 144px;
	margin: 0
}

/* --------------------------------------------- */
	/* Main Homepage Content ----------------------- */
#main-content {
	width: 968px;
	padding: 5px;
	border-bottom: none
}

#main-content.subpage {
	border-top: none
}

#main-content .left {
	border: 1px solid #bfb9b2;
	border-top: 0px;
	width: 649px;
	margin: 0;
	padding: 5px;
	float: left;
}

#main-content .right {
	border: 1px solid #bfb9b2;
	border-right: 0px;
	width: 150px;
	margin: 0;
	padding: 5px;
	float: left;
	width: 150px;
}

#main-content .publicidad {
	background: #f1ffd4;
	border: 1px solid #bfb9b2;
	border-left: 0px;
	margin: 0;
	padding: 5px;
	float: left;
	width: 135px;
}

#main-content ul {
	margin: 0 0 0 15px;
	padding: 0 0 0 10px;
	line-height: 20px;
	font-size: 11px
}

#main-content h2 {
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 5px 0;
	font-family: Verdana, Tahoma, Sans-Serif;
}

#main-content h2 strong,#main-content h2 b {
	letter-spacing: -1px
}

#main-content h3 {
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 5px 0 0 0;
	font-family: Verdana, Tahoma, Sans-Serif;
}

#main-content p,#main-content p {
	padding: 0;
	margin: 15px 0;
	font-size: 11px;
	line-height: 18px
}

#main-content p.intro-text {
	margin: 15px 0 15px 0;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	text-align: justify;
}

/* --------------------------------------------- */
	/* Portfolio Page ------------------------------ */
.portfolio-entry {
	clear: both;
	padding: 5px 0 0 0;
	margin: 8px 0 0 0
}

.portfolio-entry h3 a {
	font-size: 20px
}

/* --------------------------------------------- */
	/* Sesion Lateral -------------------------------- */
form {
	margin: 0;
	padding: 0
}

.textbox-lateral {
	width: 130px
}

.button {
	font-weight: bold;
	padding: 3px 5px;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	display: block;
	clear: both;
	margin: 0px 0 10px 0;
}

/* --------------------------------------------- */
	/* Footer ----------------------- */
#footer {
	position: relative;
	font-size: 10px;
	width: 938px;
	margin: 0 auto;
	padding: 20px
}

#footer a {
	text-decoration: underline
}

#footer a:hover {
	text-decoration: none
}

#footer span {
	position: absolute;
	right: 20px;
	top: 20px
}

.tabla_ext {
	width: 100%;
}

.columna_titulos {
	width: 100px;
}

.tabla_alertas {
	width: 100%;
}

.tabla_alertas td {
	border-bottom: 1px solid #DBD1B9;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px
}

.notificacion {
	margin-left: 15px;
	margin-bottom: 5px;
}

#main-content .comodidades {
	width: 260px;
	margin: 0;
	padding: 15px;
	float: left;
}

#main-content .cercanias {
	width: 260px;
	margin: 0;
	padding: 15px;
	float: right;
}

#main-content .precio {
	color: #336A93;
	font-size: 24px;
	font-weight: bolder;
	text-align: center;
}

#main-content .msg_error {
	line-height: 3;
	font-weight: bolder;
	font-size: 11px;
	text-align: center;
	color: red;
	background-color: #ffff99;
}

#main-content .msg_exito {
	line-height: 3;
	font-weight: bolder;
	font-size: 11px;
	text-align: center;
	color: green;
	background-color: #ffff99;
}

label {
	font-weight: bold;
}

.icono {
	vertical-align: middle;
	position: relative;
	margin: 0 5px 0 0;
}

.tbl_navegar {
	width: 724px;
	margin: auto;
	padding: 5px;
}

.btn_navegar {
	background-color: #ffff99;
	width: 200px;
	text-align: center;
	font-weight: bold;
}

#header .logo2 {
	z-index: 100;
	float: right;
	width: 234px;
	height: 119px;
	position: absolute;
	top: -10px;
	left: 740px;
	background: url('../img/logo-right.png') no-repeat;
	text-indent: -2000px;
	display: block;
}

table {
	margin: auto;
}

.cuadro_pub {
	width: 125px;
	height: 160px;
	margin: 10px auto 10px auto;
	background: #FFFFFF;/*#cde3fa;*/
	border: 1px solid #DBD1B9;
}

#cabecera_detalles{
	width: 100%;
}
#cabecera_detalles td{
	font-weight: bold;
	font-size: 14px;
	color: #332920;
}